.create-event-wrapper {
    position: relative;
    max-width: 860px;
    margin: 0 auto;
}
.outside-back-btn-wrapper {
    margin-top: 16px;
    margin-bottom: 15px;
}
.create-event-btn {
    background: #246be4;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 0.55em 1.5em;
    transition: background 0.17s;
    font-size: 1.09em;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.create-event-btn:hover, .create-event-btn:focus {
    background: #1855b7;
    text-decoration: none;
    color: #fff;
}
.create-event-btn.back-btn {
    background: #888;
    color: #eee;
    margin-bottom: 8px;
}
.create-event-btn.back-btn:hover {
    background: #444;
    color: #fff;
}

.msg-error {
    background: #ffecee;
    border-left: 5px solid #e01e37;
    color: #a2001c;
    padding: 13px 15px 10px 15px;
    border-radius: 4px;
    font-size: 1.07em;
    margin-bottom: 14px;
    margin-top: 15px;
}

.msg-success {
    border-left: 5px solid #278946;
    background: #eafaea;
    color: #185b28;
    border-radius: 4px;
    padding: 14px 16px 12px 16px;
    font-size: 1.12em;
    margin-top: 20px;
    margin-bottom: 15px;
}
.create-container-centered {
    background: #fff;
    border-radius: 8px;
    border: 1.5px solid #e6f0ff;
    box-shadow: 0 5px 30px rgba(34, 73, 139, 0.09), 0 1.5px 6px rgba(34, 73, 139, 0.13);
    margin-bottom: 35px;
    max-width: 660px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 32px 34px 36px 34px;
}

.form-table {
    width: 100%;
    max-width: 610px;
    border-collapse: collapse;
}

.form-label {
    font-weight: 500;
    color: #334;
    display: block;
    margin-bottom: 0.25em;
    font-size: 1.02em;
}
.input-select, .input-text, .input-number, .input-area, .input-file {
    width: 98%;
    padding: 8px 9px;
    border: 1.4px solid #acbadc;
    border-radius: 4px;
    font-size: 1.01em;
    background: #fafdff;
    margin-bottom: 4px;
    box-sizing: border-box;
}
.input-select:focus, .input-text:focus, .input-number:focus, .input-area:focus, .input-file:focus {
    outline: 2px solid #3c89ee;
    border-color: #3476ba;
    background: #f2f7fe;
}
.input-number, .input-text {
    display: inline-block;
    width: 50%;
}

.input-area {
    width: 97.5%;
    min-height: 74px;
    max-width: 99%;
    resize: vertical;
}

.field-error {
    font-size: 0.98em;
    color: #cd233f;
    display: none;
    margin-top: 3px;
}

.input-invalid {
    border: 1.5px solid #cd233f !important;
    background: #fff8f7 !important;
}
#max-seats-caption {
    font-weight: 600;
    margin-left: 5px;
    color: #2363b9;
}
.field-hint, .form-label .field-hint {
    font-size: .95em;
    color: #377fd9;
    font-weight: normal;
    margin-left: 2px;
}
.form-label .field-hint2 {
    color: #6ca3f7;
}
#available-seats-span {
    font-size: .98em;
    color: #196bb5;
}
.msg-success h3 {
    margin-top: 2px;
}
.msg-success .create-event-btn {
    width: auto;
    display: inline-block;
    margin-top: 13px;
}
@media (max-width: 650px) {
    .create-container-centered {
        padding: 9px 5.5vw 19px 5.5vw;
    }
    .form-table td, .form-table th {
        padding: 0.6em 0.1em;
    }

}
body {
    overflow-x: hidden;
}
